
    <html>
<head>
  <title>Create New Issue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/newIssue.css">
  <script src="../js/jquery-1.11.0.js"></script>
  <script src="../js/saveNewIssue.js"></script>
</head>

<body>
<!-- NAVIGATION BAR -->

<div class="navbar">
  <div class="navbar-new">
    <i onclick="goBack()" class="fa fa-chevron-left" style="color:white; left: 0; padding-left: 12px; padding-right: 10px; margin-top: 16px"></i>
  </div>
  <div class="navbar-left-most">
    <div class="dropdown">
      <button class="dropbtn">CREATE NEW ISSUE
      </button>
    </div>
  </div>
  <div class="navbar-settings">
    <div class="dropdown">
      <button class="dropbtn">&#9776;</button>
      <div class="dropdown-content" style="right:0">
        <a href="/settings">Settings</a>
        <a href="/logOut">Log Out</a>
      </div>
    </div>
  </div>
</div>


<!-- ACTUAL CONTENT BEGIN -->
<div class="main-content-area">
  <h1>Hi!</h1>

<form id="newIssueForm" action="/saveNewIssue" method="post">
  <!-- Title Setup -->
    <label for="title">What would you like to name this issue?</label><br \>
    <!--
    <input type="text" id="title" name="title"/>-->
    <textarea name="title" id="title"></textarea>

    <hr class="between-elements">

  <!-- Category Setup -->
    <label for="category">Which category best represents this issue?</label><br \>
    <input type="radio" name="category" value="food">food
    <input type="radio" name="category" value="cleaning">cleaning<br \>
    <input type="radio" name="category" value="personal">personal<br \>
    <hr class="between-elements">

  <!-- Scenario Setup
    <label for="scenario">Which scenario best describes this issue?</label><br \>
    <button class="btn">stealing</button>
    <button class="btn">unsanitary</button>
    <input type="radio" name="scenario" value="stealing">Stealing
    <input type="radio" name="scenario" value="unsanitary">Unsanitary
    <hr class="between-elements">
  -->

  <!-- Description Setup -->
    <label for="description">Write a brief description about how the issue affects you?</label><br \>
    <textarea name="description" id="description"></textarea>
    <hr class="between-elements">

  <!-- Duration Setup -->
    <label for="duration">How long has this issue been bothering you?</label><br \>
    <input type="radio" name="duration" id="days"><button class="btn">days</button>
    <input type="radio" name="duration" id="weeks"><button class="btn">weeks</button>
    <input type="radio" name="duration" id="months"><button class="btn">months</button>
    <hr class="between-elements">

  <!-- Relationship Setup -->
    <label for="relationship">What is your relationship with this person?</label><br \>
    <input type="radio" name="relationship" id="dating"><button class="btn">dating</button>
    <input type="radio" name="relationship" id="friends"><button class="btn">friends</button>
    <input type="radio" name="relationship" id="acquaintances"><button class="btn">acquaintances</button>
    <hr class="between-elements">

  <!-- Step Taken Setup -->
    <label for="previous-steps">Have you taken any steps to resolve the issue?</label><br \>
    <input type="radio" name="previous-steps" id="directly communicated"><button class="btn">directly communicated</button>
    <input type="radio" name="previous-steps" id="tried mentioning it"><button class="btn">tried mentioning it</button>
    <input type="radio" name="previous-steps" id="nothing yet"><button class="btn">nothing yet</button>

<!--
    <div class="dynamically-change">
    <label for="length">How long has this issue been bothering you?</label><br \>
    <div class="duration">
    <input type="number" id="number" style="width:40px; border: 1px solid grey; border-radius: 4px; height: 36px"/>
    <select id="unit">
      <option value="day">day(s)</option>
      <option value="week">week(s)</option>
      <option value="month">month(s)</option>
    </select>
  </div>
</div>
-->
<!--
    <input class="submit" type="submit" value="Submit New Issue" id="save"/>
  -->
<!--</form>-->
  <input type="submit" value="submit"><button class="submit" id="finishi">Submit New Issue</button>
</form>

</div>
</body>
</html>
